<div>
    <button type="button" class="btn btn-primary create-ticket-btn" (click)="addTicket()">+ Create New</button>

    <app-add-ticket (newItemEvent)="addItem($event)" *ngIf="showAddForm"></app-add-ticket>
    
    <div *ngIf="!showAddForm" class="tickets-component">

      <h1>Tickets</h1>

      <div>
        <div class="container-fluid border">
          <div class="row">
            <div class="col-sm-2 header-item">#</div>
            <div class="col-sm-2 header-item">Name</div>
            <div class="col-sm-2 header-item">Description</div>
            <div class="col-sm-2 header-item">Status</div>
          </div>
        </div>

        <div class="container-fluid border" *ngFor="let ticket of tickets">
          <div class="row ticket-item" ticket-item>
            <div class="col-sm-2">
              #
            </div>
            <div class="col-sm-2">
              {{ticket.name}}
            </div>
            <div class="col-sm-2">
              {{ticket.description}}
            </div>
            <div class="col-sm-2">
              Single :P
            </div>
            <div class="col-sm-2">
              <button class="btn-primary" ticket="sada" (click)="editTicket()">Edit Item</button>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
