.create-ticket-btn
{
    margin-top: 20px;
}

.tickets-table
{
    margin-top: 15px;
}

.tickets-component
{
    margin-top: 15px;
}

.tickets-list
{
    display: flex;
}

.tickets-header
{
    display: flex;
}

.ticket-item
{
    margin: 5px;
}

.ticket-item
{
    margin: 10px;
}

.header-item
{
    margin: 10px;
    float: inline-start;
}