<div class="row ms-1 my-3">
    <div class="col p-0"><input type="search" placeholder="Search By ID"></div>
    <div class="col ms-2 p-0">
        <select class="form-control-sm mx-auto">
            <option>Type</option>
            <option>Issue</option>
            <option>Feature request</option>
            <option>Improvement</option>
        </select>
    </div>
    <div class="col ms-2 p-0">
        <select class="form-control-sm">
            <option>Status</option>
            <option>New</option>
            <option>Active</option>
            <option>Abandoned</option>
            <option>Archived</option>
        </select>
    </div>
    <div class="col p-0">
        <select class="form-control-sm">
            <option>Priority</option>
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select>
    </div>
    <div class="col-6">

    </div>
</div>
