.create-ticket-btn
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group
{
    width: 500px;
    margin-top: 20px;
}

.left-div
{
    margin-left: 20px;
}

.new-ticket
{
    margin-top: 15px;
    margin-bottom: 15px;
}
