<div class="container-fluid">
    <div class="row p-2">
        <h2 class="font-weight-bold text-primary">TickIT</h2>
        <app-create-new-ticket class="p-0"></app-create-new-ticket>
    </div>
    <div class="row p-2 mt-2">
        <button type="button" class="btn btn-primary mx-1 my-1 nav-button" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact:true}" routerLink=""><i class="fas fa-home px-1"></i>Dashboard</button>
        <button type="button" class="btn btn-primary mx-1 my-1 nav-button" routerLinkActive="activeLink" routerLink="tickets"><i class="fas fa-film px-1"></i>Tickets</button>
        <button type="button" class="btn btn-primary mx-1 my-1 nav-button" routerLinkActive="activeLink" routerLink="dashboard"><i class="fas fa-file px-1"></i> Reports</button>
        <button type="button" class="btn btn-primary mx-1 my-1 nav-button" routerLinkActive="activeLink" routerLink="dashboard"><i class="fas fa-users pe-1"></i>Contacts</button>
        <button type="button" class="btn btn-primary mx-1 my-1 nav-button" routerLinkActive="activeLink" routerLink="dashboard"><i class="fas fa-cog pe-1"></i> Settings</button>
        <button type="button" class="btn btn-primary mx-1 my-1 nav-button" routerLinkActive="activeLink" routerLink="dashboard"><i class="fas fa-info-circle pe-1"></i> Help</button>
    </div>
</div>
