<div class="container-fluid ps-1 ">
    <div class="full-height-div">
        <table class="table p-1 bg-white">
            <thead class="thead">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Assigned by</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets | slice: (currentPage-1)*pageSize:currentPage*pageSize">
                    <td>{{(Category[ticket.category])}}</td>
                    <td>{{ticket.id}}</td>
                    <td>{{ticket.name}}</td>
                    <td>{{ticket.description}}</td>
                    <td>{{(Priority[ticket.priority])}}</td>
                    <td>{{(Status[ticket.status])}}</td>
                    <td>{{ticket.dateCreated}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row m-auto" *ngIf="!hasTickets">
            <p class="m-auto">No tickets found</p>
        </div>
    </div>
    <div class="float-end pagination mt-2 my-auto">
        <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="tickets.length"></ngb-pagination>
    </div>
</div>