<div class="row p-2 m-2">
    <input type="search" placeholder="&#xF002;" class="fas search-bar col-3 my-2">
    <app-create-new-ticket class="col-2 p-0 ms-2"></app-create-new-ticket>
    <div class="col"></div>
    <div class="col-2">
        <i class="fas fa-envelope"></i>
        <i icon="fas fa-t"></i>
        <i icon="fas fa-bell"></i>
    </div>
    <div class="col-2">
        <div class="row">
            <div class="col-4 my-auto">
                <p class="p-0 m-0">dp</p>
            </div>
            <div class="col-8 my-auto">
                <div class="row">
                    <p class="p-0 m-0 float-end">Welcome</p>
                </div>
                <div class="row">
                    <p class="p-0 m-0 float-end">Nagababu</p>
                </div>
            </div>
        </div>
    </div>
</div>